html, body{margin:0;padding:0;height:100%;background-color:#000000;color:#FFFFFF;font-family:'Lucida Grande',Geneva,Verdana,Arial,Helvetica,sans-serif;font-stretch:normal;font-style:normal;font-variant:normal;font-weight:normal;line-height:normal;}
#cjcontainer{min-height:100%;position:relative;text-align:center;}
#cjheader{padding:10px;}
#body{padding:10px;padding-bottom:60px;}
#cjfooter{position:absolute;bottom:0;width:100%;height:60px;font-size:small;}
h1{color:#FFFFFF;font-family:Geneva,Verdana,Arial,Helvetica,sans-serif;font-size:xx-large;font-size-adjust:none;font-stretch:normal;font-style:normal;font-variant:normal;font-weight:bold;line-height:normal;}
h2{color:#FFFFFF;font-size:large;padding:0;}
h3{color:#FFFFFF;font-size:large;padding:0;}
.cjcontainer2{text-align:center;}
.center{margin:auto;width:70%;}
.centergallery{margin:auto;width:620px;}
.cjcopyright{font-size:xx-small;text-align:center;}
